<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.music.mapper.UserMapper" >

    <select id="list"  resultType="com.example.music.model.User">
        SELECT * FROM user
    </select>

    <select id="login" parameterType="string" resultType="com.example.music.model.User">
        SELECT * FROM user WHERE email=#{email} and password=#{password}
    </select>

</mapper>